altgraph==0.17
certifi==2020.12.5
chardet==4.0.0
cssselect2==0.4.1
idna==2.10
inputimeout==1.0.4
lxml==4.6.3
macholib==1.14
numpy==1.20.3
pandas==1.2.4
Pillow==8.2.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PySimpleGUI==4.41.2
python-dateutil==2.8.1
pytz==2021.1
reportlab==3.5.67
requests==2.25.1
six==1.16.0
svglib==1.0.1
tabulate==0.8.9
tinycss2==1.1.0
urllib3==1.26.4
webencodings==0.5.1
